.wrapper p {
  /*font-size: 16px; 默认的*/
  font-size: 17px !important;
  white-space: pre-line;
  line-height: 30px;
  /* color: #4a4a4a; 默认的*/
  color: black;
}

.wrapper h2:before,
.wrapper h2:after{
  content: '🍎'
}

.wrapper h4{
  font-size: 17px;
}

.wrapper h4:before,
.wrapper h4:after{ 
content:"🍊";
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {

    text-align: center;
}

